
	  
	{% extends "base.html" %}  
	{% block main %}
   <div class= "profile">
     <div class= "border">
	<img src= "/static/image.jpg" />
	<h1> Imani Miller </h1>  
	<h2>@imanimiller <br> Kingston, Jamaica <br> Joined {{fdate}} </h2>
     </div>
 <p class="gtkm">From the header you would see that my name Imani Miller. It is a quite common name that originated from Swahili and means Faith. <br>
       I was born in Kinsgton Jamaica and grew up in the same place.<br>
        Now I am at The University of the West Indies pursuing a degree in Computer Science. <br>
       Although I do enjoy computer science, i have a few hobbies that one would say are opposites. A few of my hobbies include painting, digital drawing<br>
       and nail art. 
  </p>
      <div class="stats">
       
         <span class="num"> 7 
         <p class="norm"> Posts </p>
         </span>
         <span class="num"> 100 
         <p class="norm"> Followers </p> 
         </span>
         <span class="num"> 250 
         <p class="norm"> Following </p> 
         </span>
      </div>
       <p><button>Follow</button></p>
    </div>
       {% endblock %}




